{% extends 'base.html' %}
{% block content %}
<div>
    <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
            <div id='car-photo-preview'> 
                <div class="form-group">
                    <label for="photo">photo</label>
                    <input type="file" name="photo" id="photo" multiple class="form-control" >
                </div>
            </div>  
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Add Car</button>
    </form>
</div>
<script>

    function previewCarPhoto(event) {
        var preview = document.getElementById('car-photo-preview');
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function() {
            preview.src = reader.result;
            preview.style.display ='block';
        }
        reader.readAsDataURL(file);
    }
</script>

{% endblock content %}