{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/chauffeurs.css">
{% for chauffeur in chauffeurs %}
<section class="vh-10" style="background-color: #5f59f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
          <div class="card-body p-4">
            <h3 class="mb-3">{{chauffeur.first_name}} {{chauffeur.last_name}}</h3>
            <p class="small mb-0">Save <span class="mx-2">|</span> Created by @{{chauffeur.first_name}}
              <span class="mx-2">|</span>  <strong>Joined</strong> on {{chauffeur.date_joined}}</p>
            <hr class="my-4">
            <div class="d-flex justify-content-start align-items-center">
              <p class="mb-0"><i class="fas fa-link ms-4 me-2"></i> <span
                  class="text-muted small">{{chauffeur.email}}</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                  class="text-muted small">+263{{chauffeur.phone_number}}</span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> 
                {% if chauffeur.is_booked %}
                  <spanclass="text-muted small">Booked</span>
                {% else %}
                <span class="text-muted small">Available</span>
                {% endif %}
                <span class="ms-3 me-4">|</span></p>

                <p class="mb-0 ">Daily Fee:
                  <span class="text-muted small">{{chauffeur.daily_fee}}</span>
                </p>
                <span class="mx-2">|</span>
                <p class="mb-0 ">Experience:
                  <span class="text-muted small">{{chauffeur.driver_experience}}</span>
                </p>
                <span class="mx-2">|</span>
              <a href="#!">
                <img src="{{chauffeur.profile_photo.url}}" alt="avatar"
                  class="img-fluid rounded-circle me-3" width="35">
              </a>
              <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% empty %}
<br><br>
<h3>No chauffeurs yet<h3>
{% endfor %}



{% endblock %}

