{% extends 'base.html'%}
{% block content %}
	<div class="parallax">
		<div class="hero-text">
		    <h1 style="text-shadow: 2px 2px #610B0B">We make dreams come true</h1>
		    <p style="text-shadow: 2px 2px #610B0B">Because  everyone has the right to luxury</p>
            <a class="btn btn-outline-danger shadow-p p-3 mb-5 bg-red rounded" style="text-shadow: 2px 2px #2A0A0A" href="{% url 'main_app:cars' %}" role="button">Check our offer</a>
		</div>
	</div>
	<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom" style="text-align: center">Check our offer</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-danger bg-gradient">
          <img src="/static/media/images/car2.png" height="80 px" alt="">
        </div>
        <h4>Cars tailored to your needs</h4>
        <p>We offer cars for a wide range of applications.
			Whether you need a transport car offroad, urban or you just need a comfortable and stylish
            means of transport, with us you will find something for yourself.
		</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-danger bg-gradient">
          <img src="/static/media/images/zim.png" height="55 px" alt="">
        </div>
        <h4>Rent from any City</h4>
        <p>We have access to every car you need in Zimbabwe. View available cars in your neigbourhood.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-danger bg-gradient">
          <img src="/static/media/images/payment.png" height="70 px" alt="payment">
        </div>
        <h4>Simple payment terms</h4>
        <p>You pay a fixed ammount for the period startup rentals and price adjustments for fuel used after the rental period.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}