{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/car_profile.css">
<style>

  .ssection{
    display:none;
  }

  .fsection{
    display:block;
  }

  @media (max-width: 600px) {

    .content {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      border-radius: inherit;
      width: inherit;
  }


    .fsection{
      display: none;
    }

    .ssection{
      display:block;
    }

    .justify-content-start.rounded-3.p-1.mb- {
    width: fit-content;
    }  

    .justify-content-start.rounded-3.p-2.mb-2 {
      width: fit-content;
  }

  .justify-content-center.rounded-3.p-2.mb-2.ddd {
    margin-left: 50px;
  }

  .card {
    width: 280px;
}
  }


</style>
<div class="container ">
    <div class="options">
      <button class="option active" data-target="button1"><span>Car</span></button>
      <button class="option" data-target="button3"><span>Book</span></button>
      <a href="{% url 'landingpage' %}"><button class="option">Go Back</button></a>
      {% if not save_button %}
      <a
        class="btn btn-primary btn-lg ml-2"
        href="{% url 'save-car' car.pk %}"
        ><b>Save car</b></a
      >
      {% else %}
      <a
        class="btn btn-danger btn-lg ml-2"
        href="{% url 'remove-car' car.pk %}"
        ><b>Remove from saved</b></a
      >
      {% endif %}
    </div>
    <div class="content">
      <div class="button1 active" id="button1">
        <h2>{{ car.make }}</h2>


            <section class="vh-100 fsection" style="background-color: f2f2f2;">
              <div class="container py-5 h-10">
                <div class="row d-flex justify-content-center align-items-center h-100" style="width: 62px">
                  <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                      <div class="card-body p-4">
                        <div class="d-flex text-black">
                          <div class="flex-shrink-0">
                            <a href="{% url 'photo' pk=car.pk %}">
                            <img src="{{ car.image.url }}"
                            alt="Generic placeholder image" class="img-fluid"
                              style="width: 180px; border-radius: 10px;"> 
                            </a>
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1"><strong>{{ car.make }} {{ car.car_model }}</strong></h5>
                            <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ car.description }}</p>
                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                              style="background-color: #efefef;">
                              <div>
                                <p class="small text-muted mb-1">Daily Rental Price/Ecocash</p>
                                {% if car.ecocash_rate %}
                                <p class="mb-0">ZWL{{car.ecocash_rate}}</p>
                                {% else %}
                                <p class="mb-0">${{car.daily_rental_price}}</p>
                                {% endif %}
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Late Return Fee</p>
                                <p class="mb-0">${{car.late_return_fee_per_hr}}/hr</p>
                              </div>
                              <div>
                                <p class="small text-muted mb-1">Location</p>
                                {% if car.city %}
                                <p class="mb-0">{{ car.city }}</p><p class="mb-0">{{ car.residence }}</p>
                                {% else %}
                                <p class="mb-0">Not uploaded</p>
                                {% endif %}
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Model Year</p>
                                <p class="mb-0">{{ car.model_year }}</p>
                              </div>

                              <div class="px-3">
                                <p class="small text-muted mb-1">Status</p>
                                {% if car.is_booked %}
                                <p class="mb-0">Booked</p>
                                {% else %}
                                <p class="mb-0">Available</p>
                                {% endif %}
                              </div>
                            </div>
                            
                            <div class="d-flex pt-1">
                              <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                              <button type="button" style="color:white;" class="btn btn-primary flex-grow-1" ><a href="{% url 'booking_form' car.pk %}">Book</a></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center rounded-3 p-2 mb-2 ddd">    
                  <div>
                      <p class="small text-muted mb-1">Car Owner</p>
                      <p class="mb-0">@{{car.owner.username}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Car Color</p>
                      <p class="mb-0">{{car.color}}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Car Tracker</p>
                      {% if car.has_tracker %}
                      <p class="mb-0">Installed</p>
                      {% else %}
                      <p class="mb-0">Not Installed</p>
                      {% endif %}
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Plate Number</p>
                      <p class="mb-0">{{car.plate_number}}</p>
                    </div>

                    <div class="px-3">
                      <p class="small text-muted mb-1">Fuel Type</p>
                      <p class="mb-0">{{car.fuel_type}}</p>

                    </div>
            </section>

            <section class="vh-100 ssection" style="background-color: f2f2f2;">
              <div class="container py-5 h-10">
                <div class="row d-flex justify-content-center align-items-center h-100" style="">
                  <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card" style="border-radius: 15px;">
                      <div class="card-body p-4">
                        <div class="text-black">
                          <div class="flex-shrink-0">
                            <a href="{% url 'photo' pk=car.pk %}">
                            <img src="{{ car.image.url }}"
                            alt="Generic placeholder image" class="img-fluid"
                              style="width: 180px; border-radius: 10px;"> 
                            </a>
                          </div>
                          <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">Details</strong></h5>
                            <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ car.description }}</p>
                            <div class="justify-content-start rounded-3 p-2 mb-2"
                              style="background-color: #efefef;">
                              <div>
                                <p class="small text-muted mb-1">Daily-Rental-Price/Ecocash</p>
                                {% if car.ecocash_rate %}
                                <p class="mb-0">ZWL{{car.ecocash_rate}}</p>
                                {% else %}
                                <p class="mb-0">${{car.daily_rental_price}}</p>
                                {% endif %}
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Late Return Fee</p>
                                <p class="mb-0">${{car.late_return_fee_per_hr}}/hr</p>
                              </div>
                              <div>
                                <p class="small text-muted mb-1">Location</p>
                                {% if car.city %}
                                <p class="mb-0">{{ car.city }}</p><p class="mb-0">{{ car.residence }}</p>
                                {% else %}
                                <p class="mb-0">Not uploaded</p>
                                {% endif %}
                              </div>
                              <div class="px-3">
                                <p class="small text-muted mb-1">Model Year</p>
                                <p class="mb-0">{{ car.model_year }}</p>
                              </div>

                              <div class="px-3">
                                <p class="small text-muted mb-1">Status</p>
                                {% if car.is_booked %}
                                <p class="mb-0">Booked</p>
                                {% else %}
                                <p class="mb-0">Available</p>
                                {% endif %}
                              </div>
                            </div>
                            
                            <div class="pt-1">
                              <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                              <button type="button" style="color:white;" class="btn btn-primary flex-grow-1" ><a href="{% url 'booking_form' car.pk %}">Book</a></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="justify-content-center rounded-3 p-2 mb-2 ddd">    
                  <div>
                      <p class="small text-muted mb-1">Car Owner</p>
                      <p class="mb-0">@{{car.owner.username}}</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Car Color</p>
                      <p class="mb-0">{{car.color}}</p>
                    </div>
                    <div>
                      <p class="small text-muted mb-1">Car Tracker</p>
                      {% if car.has_tracker %}
                      <p class="mb-0">Installed</p>
                      {% else %}
                      <p class="mb-0">Not Installed</p>
                      {% endif %}
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Plate Number</p>
                      <p class="mb-0">{{car.plate_number}}</p>
                    </div>

                    <div class="px-3">
                      <p class="small text-muted mb-1">Fuel Type</p>
                      <p class="mb-0">{{car.fuel_type}}</p>

                    </div>
            </section>


      </div>
      <br>
    <br>
  <br>
<br>
      <p class="mt-4 pt-2 mb-0">Want any help? <a href="{% url 'booking_form' car.pk %}" style="color: #f37a27; text-decoration: underline;">Please go to the booking page</a></p> 
    </div>
  </div>
  <script src="/static/js/car_profile.js"></script>
{% endblock %}

  
