{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/cars.css">
</br>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mt-4">
                
                    <div class="card" style="width:18rem;">
                        <div class="card-header">
                            Cars
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">All Car</li>
                            <li class="list-group-item">Latest Cars</li>
                            <a href="{% url 'saved-cars' %}"><li class="list-group-item">Saved Cars</li></a>
                            <li class="list-group-item">Review</li>
                            <a href="{% url 'car_add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Car</a>
                        </ul>
                    </div>
            </div>

            <div class="col-md-9">
                <div class="row m-3">
                    {% for car in cars %}
                    <div class="col-md-5">
                        <div class="card my-2">
                            <a href="{% url 'photo' pk=car.pk %}">
                                <img class="card-img-top fit-image" src="{{ car.image.url }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{% url 'car_detail' pk=car.pk %}"><small>{{ car.make }}</small></a>
                   
                                    <a href="{% url 'booking_form' car.pk %}"><span id="book" class="ml-3 pointer"><small>Book</small></span></a>

                                    <span class="pointer">
                                        {% if request.user in car.likes.users.all%}
                                        <!-- already liked-->
                                        <a href={% url 'car_review' car_id=car.id review='like' %}> <i
                                           data-toggle="tooltip" data-placement="bottom" title="Unlike"
                                           class="like fas fa-thumbs-up pr-2">
                                        <span class="mx-2">{{car.get_total_likes}}</span>
                                        </i>
                                        </a>
                                        {% else %}
                                        <!--not liked-->
                                        <a href={% url 'car_review' car_id=car.id review='like' %}><i
                                           data-toggle="tooltip" data-placement="bottom" title="Like"
                                           class="default-icon fas fa-thumbs-up pr-2">
                                        <span class="mx-2">{% if car.get_total_likes  %}{{car.get_total_likes}} {% else %} 0
                                        {% endif %}</span></i>
                                        </a>
                                        {% endif %}
                                     </span>
                                     <span class="ml-3 pointer">
                                     {% if request.user in car.dis_likes.users.all %}
                                     <a href={% url 'car_review' car_id=car.id review='dis_like' %}><i
                                        data-toggle="tooltip" data-placement="bottom" title="i dislike this"
                                        class="dislike fas fa-thumbs-down pr-2">
                                     <span class="mx-2">{{car.get_total_dis_likes}}</span></i>
                                     </a>
                                     {% else %}
                                     <a href={% url 'car_review' car_id=car.id review='dis_like' %}><i
                                        data-toggle="tooltip" data-placement="bottom" title="i dislike this "
                                        class="default-icon fas fa-thumbs-down pr-2">
                                     <span class="mx-2">{% if  car.get_total_dis_likes %}{{car.get_total_dis_likes}}
                                     {% else %} 0 {% endif %}</span></i>
                                     </a>
                                     {% endif %}
                                     </span>

                                    <span id="share"><small>Share</small></span>
                                </p>
                            </div>
                            <a href="{% url 'car_detail' pk=car.pk %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div> 
                    </div>
                    {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

